body {
  margin: 0px;
  background-color: rgb(180, 180, 180);
}

section {
  width: fit-content;
}

.container-6 {
  margin: 5px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 160px 160px;
  column-gap: 5px;
  row-gap: 5px;
}

.container-12 {
  margin: 5px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 160px 160px 160px;
  column-gap: 5px;
  row-gap: 5px;
}

.image-container {
  position: relative;
}

img {
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 200px;
  height: 160px;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 160px;
  cursor: pointer;
}

.cover:hover {
  background-color: rgb(1, 90, 1);
}

.cover-invisible {
  background-color: green;
}

.cover-visible,
.cover-found {
  display: none;
}

p {
  margin: 20px;
  font-weight: bold;
  font-size: small;
}

.alert-box {
  padding: 0;
  margin: 0;
  height: 30px;
  width: auto;
  align-items: center;
  justify-content: center;
}

.alert {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.radio-buttons {
  display: block;
}

.buttons {
  text-align: center;
}
.buttons label {
  font-size: small;
  font-weight: bold;
  cursor: pointer;
}

input {
  margin: 5px;
  cursor: pointer;
}
